**שימו לב**: על מנת להריץ את התאים ב-Live Code, יש לייבא תחילה את ספרית `pandas` ע"י הרצת השורת הראשונה בתא למטה.   
בנוסף, נגביל את מספר השורות והעמודות שתופענה בהדפסת הטבלאות ע"י שורות הקוד השניה והשלישית:

In [1]:
import pandas as pd
pd.options.display.max_rows=5
pd.options.display.max_columns=5
import utils.load_auxilary_files # This will load the files used for this notebook

# ביצוע שאילתות בטבלה

שאילתות לטבלה הן פקודות שמאפשרות לסנן, לבחור או לאתר נתונים מתוך הטבלה לפי תנאים מוגדרים מראש.  

בחלק זה נתרגל את היכולת שלנו לבצע שאילתות מסוג אלה, באמצעות הכלים שלמדנו עד כה: Masking ו-`sum`.  
בנוסף, ניעזר במתודה חדשה - `()count` המבצעת ספירת ערכים. `count`, בדומה ל`sum`, פועלת לפי הציר שהוגדר לה.

נטען תחילה את טבלת הציונים שלנו מחדש:

In [3]:
inputFileName = "files/StudentsGrades.csv"
df = pd.read_csv(inputFileName)

כעת, נסחו שאילתות שמחלצות מהטבלה את הנתונים המבוקשים.

1. מספר סטודנטים שנכשלו בכל אחד מהקורסים. יש לפתור בשתי שורות קוד.

In [ ]:
# Write your code here

```{admonition} **לחצו כאן כדי לצפות בפתרון** 
:class: dropdown, tip
``` python
df_no_names = df.drop('Name', axis=1)
print(df_no_names[df_no_names < 60].count())
```

2. כמה ציונים נכשלים יש בכל הטבלה. יש לפתור בשתי שורות קוד.

In [ ]:
# Write your code here

```{admonition} **לחצו כאן כדי לצפות בשני פתרונות אפשריים** 
:class: dropdown, tip
``` python
df_no_names = df.drop('Name', axis=1)
# Option 1
print(df_no_names[df_no_names < 60].count().sum())
# Option 2
print(df_no_names[df_no_names < 60].count(axis=1).sum())

```

3. א. בכמה קורסים נכשל כל סטודנט - ללא שמות סטודנטים. יש לפתור בשתי שורות קוד.

In [ ]:
# Write your code here

```{admonition} **לחצו כאן כדי לצפות בפתרון** 
:class: dropdown, tip
``` python
df_no_names = df.drop('Name', axis=1)
print(df_no_names[df_no_names < 60].count(axis=1))
```

3. ב. בכמה קורסים נכשל כל סטודנט - לפי שמות הסטודנטים. יש לפתור בשורת קוד אחת.

In [ ]:
# Write your code here

```{admonition} **לחצו כאן כדי לצפות בפתרון** 
:class: dropdown, tip
``` python
display(df.apply(lambda row: pd.Series([row["Name"], row.drop("Name")[row.drop("Name") < 60].count()]) ,axis=1))
```

4. שמות כל הסטודנטים שנכשלו ב-`Marine Biology` **או** ב-`Stellar Cartography`. יש לפתור בשורת קוד אחת.

In [ ]:
# Write your code here

```{admonition} **לחצו כאן כדי לצפות בפתרון** 
:class: dropdown, tip
``` python
df.loc[(df['Marine Biology'] < 60) | (df['Stellar Cartography'] < 60), "Name"]
```

5. שמות כל הסטודנטים שקיבלו 90 ומעלה ב`Art` ו`Math`. יש לפתור בשורת קוד אחת.

In [ ]:
# Write your code here

```{admonition} **לחצו כאן כדי לצפות בפתרון** 
:class: dropdown, tip
``` python
df.loc[(df['Art'] >= 90) & (df['Math'] >= 90), 'Name']
```

6. שם הסטודנט בעל ממוצע הציונים הגבוה ביותר.

```{admonition} **רמז** 
:class: tip
קראו בגוגל או שאלו את מודל השפה האהוב עליכם לגבי הפונקציות `idxmin` ו`idxmax` של pandas.
```

In [ ]:
# Write your code here

```{admonition} **לחצו כאן כדי לצפות בפתרון** 
:class: dropdown, tip
``` python
df['Avg'] = df.iloc[:,1:].mean(axis=1)  # Create a column of the average grade per student
max_id = df['Avg'].idxmax()   # max_id is the row name (index) of the highest student
print(df.loc[max_id]["Name"]) # Access the Name column in the max_id row
```


```{admonition} **שימו לב**
:class: error
`idxmax` ו-`idxmin` מחזירים את **שם השורה או העמודה (תלוי ב`axis`)**, ולכן בדרך כלל נשתמש בהם בשילוב עם `loc`. 

ניתן להשתמש ב`idxmin` או `idxmax` ללא שימוש ב`loc` במקרים בהם **לשמות השורות/העמודות עצמן יש את המשמעות הרצויה**.
```

#### תרגיל 

איזה נתון חילצנו בקוד להלן?

In [4]:
print(df.drop('Name', axis=1).mean(axis=0).idxmax())

Art

```{admonition} **לחצו כאן כדי לצפות בפתרון**
:class: dropdown, tip
במקרה הזה, ניסינו לחלץ את המקצוע בו ממוצע הציונים הוא הגבוה ביותר. מאחר ששם העמודה עצמה הוא הנתון אותו ניסינו לשלוף, `idxmax` סיפק את שם העמודה (מה שרצינו), ולא היה צורך להשתמש ב`loc`.

```